In [37]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import Binarizer

In [38]:
df=pd.read_csv('train.csv',usecols=["Age","Fare","SibSp","Parch","Survived"])
df.dropna(inplace=True)
df["Family"]=df["SibSp"]+df["Parch"]
df.sample(3)

     Survived   Age  SibSp  Parch      Fare  Family
636         0  32.0      0      0    7.9250       0
556         1  48.0      1      0   39.6000       1
856         1  45.0      1      1  164.8667       2

In [39]:
df=df[["Age","Fare","Family","Survived"]]
df.head(5)

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

# Train Test Split

In [40]:
X=df[["Age","Fare","Family"]]
Y=df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

# Without Binarization

In [41]:
clf=DecisionTreeClassifier()

clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

accuracy_score(y_test,y_pred)

0.6223776223776224

In [42]:
np.mean(cross_val_score(clf, X,Y, cv=200, scoring="accuracy"))

np.float64(0.6354166666666667)

# With Binarization

In [43]:
trf=ColumnTransformer(
    [
        ('family',Binarizer(copy=False),["Family"])
    ],remainder="passthrough"
)

X_train_trans=trf.fit_transform(X_train)
X_test_trans=trf.transform(X_test)

In [44]:
X_trans=trf.fit_transform(X)

clf=DecisionTreeClassifier()

clf.fit(X_train_trans,y_train)

y_pred1=clf.predict(X_test_trans)

accuracy_score(y_test, y_pred1)

0.6223776223776224

In [45]:
np.mean(cross_val_score(clf, X_trans, Y, cv=200, scoring="accuracy"))

np.float64(0.62625)